
.container {
    width: 90%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 20px 0;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 40px;
    display: flex;
    gap: 25px;
    align-items: flex-start;
    border: 1px solid #dcdcdc;
}

.card img {
    width: 260px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.text-content {
    flex: 1;
}


p a {
    color: inherit;
    text-decoration: none;
}


@media (max-width: 600px) {

    .card {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                    "title"
                    "img"
                    "body";
        gap: 14px;
        padding: 16px;
    }

    .card img {
        width: 100%;
    }
    .card .title h2{
        font-size: 24px;
    }

    .text-content {
        text-align: left;
    }
    img {
        max-height: 250px;
        max-width: 250px;
        align-self: center;
    }
}
