body {
    font-family: Merriweather, Black, serif;
    background-color: #F6F6F6;
}

.container {
    width: 90%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 20px 0;
}

h1 {
    font-family: var(--font-heading), serif;
    font-size: 48px;
    color: var(--anthracite);
    font-weight: bold;
}

p {
    font-family: var(--font-body), sans-serif;
    color: var(--anthracite);
    font-size: 16px;
}

p a {
    color: inherit;
    text-decoration: none;
}
.card {
    background: white;
    border-radius: 10px;
    gap: 25px;
    padding: 16px;
    margin-bottom: 40px;
    align-items: flex-start;
    border: 1px solid #dcdcdc;
}

.card img {
    width: 100%;
}
.card .title h2 {
    font-size: 24px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 32px;
        font-family: var(--font-heading), serif;
        color: var(--anthracite);
        font-weight: bold;
    }

    h2 {
        font-size: 24px;
        font-family: var(--font-heading), serif;
        color: var(--anthracite);
        font-weight: bold;
    }

    h3 {
        font-size: 20px;
        font-family: var(--font-heading), serif;
        color: var(--anthracite);
        font-weight: bold;
    }
    img {
        max-height: 250px;
        max-width: 250px;
        align-self: center;
    }

}

.team-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}

.team-info {
    flex: 1 1 300px;
    font-family: var(--font-body), sans-serif;
    color: var(--anthracite);
    font-size: 16px;
}

.team-photo {
    flex: 1 1 400px;
}

.team-photo img {
    max-width: 450px;
    border-radius: 8px;
}
