<footer class="site-footer">
    <div class="site-footer__top">
        <div class="footer-column">
            <h4 class="footer-title">Turn und Sportverein Dierfeld e.V.</h4>
            <p>Gemeinsam stark seit 2025</p>

            <ul class="footer-links">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">YouTube</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4 class="footer-title">Kontakt</h4>
            <p>Beispielweg 12<br>
                12345 Musterstadt<br>
                Tel. 0127/182 12901<br>
                hallo@mail.com
            </p>
        </div>

        <div class="footer-column">
            <h4 class="footer-title">Verein &amp; Abteilungen</h4>
            <ul class="footer-links">
                <li><a href="#">Über uns</a></li>
                <li><a href="#">Vorstand</a></li>
                <li><a href="registration.html">Mitglied werden</a></li>
                <li><a href="#">Satzung &amp; Ordnung</a></li>
                <li><a href="#">Alle Abteilungen</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4 class="footer-title">Rechtliches &amp; Service</h4>
            <ul class="footer-links">
                <li><a href="#">Impressum</a></li>
                <li><a href="#">Datenschutz</a></li>
                <li><a href="#">Cookie-Einstellungen</a></li>
            </ul>
        </div>
    </div>

    <div class="site-footer__bottom">
        <p class="footer-end__bottom">© 2025 Sportverein Dieringen e.V. Amtsgericht Dillingen – VR 12345</p>
    </div>
</footer>